@import "tailwindcss";

:root {
  --color-red: #EA0001;
  --color-grey: #6D6D6D;
  --color-black: #000000;
  --color-white: #ffffff;
}

@theme inline {
  --color-red: #EA0001;
  --color-grey: #6D6D6D;
  --color-black: #000000;
  --color-white: #ffffff;

  --font-heading: var(--font-playfair-display);
  --font-mono: var(--font-lato);
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-mono), sans-serif;
}
